.history-list {
  padding-right: 40px;
  overflow: scroll;
  height: 16vh;
}

.history-list li {
  background-color: white;
  justify-content: space-between;
  padding: 0rem 0rem 0rem 0.4rem;
  margin: 0.2rem;
}

.history-list-content {
  display: flex;
}

.history-list-card-end {
  display: flex;
}

.list-amount {
  margin-right: 0.2rem;
}

.positive {
  border-right: 0.4rem solid green;
}

.negative {
  border-right: 0.4rem solid red;
}
